.legend{ 

   padding: 0%;
}

body{
   margin: 0%;
}

.htwo{
padding-right: 15px;

}

.div-image{
max-width: 20%;

}

.menu-top{
   position: fixed;
   top: 0%;
   background-color: white;
   width: 100%;
   border: #20201e;
   display: flex;
   
}
.logo-div{
   background-color: #white;
      
}
.logo{
list-style: none;
justify-content: left;
margin-left: 20%;
}

.list{
   background-color: white;
   list-style: none;
   display: flex;
   width: 100% ;
   justify-content: space-around;
   align-items: center;
   font: normal bold 12px / 20px "Roboto Slab", Helvetica, Arial, Verdana, sans-serif;
   text-transform: uppercase; 
   
}
.hmain{

      display: flex;
      font-size:  15px;
      text-align: center;
      justify-content: space-between;
      color: white;
      font-weight: bold ; 
      background-color: #4ab540;
      margin-top: 82px;
      height: 28px;
      padding-top: 10px;
      padding-left: 40px;
      padding-right: 40px;
   }



}



.nav:hover{
   text-decoration: none;
   color: #15830b;   
   border-left-color: #3f4d01;
}
a:hover{
   text-decoration: none;
   color: #15830b;

}


.nav{

   }     
/* li{

   border: 1px;
   padding: 0px 50px;
   margin: 0%; */
}
#heading
{
margin: 0%;
text-align: center;
color: green;
background-color: greenyellow;
height: 300px;
text-decoration: solid;
font-size: 100px;
padding-top: 10%;
}
#main
{ 
background-color: rgb(248, 248, 26);
height: 200px;
display: flex;
margin-top: 0%;

}

#one
{ 
background-color: white;
height: 200px;
width: 35%;

}

 #two
{ 

background-color: rgb(35, 13, 233);
width: 30%;
height: 200px;


 }

#three
{ 
background-color: azure;
width: 35%;
height: 200px;
}

.main-image{
  
   
}

.background-image-main-div{
   height: 100%;
   width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   padding-top: 30px;
   padding-bottom: 30px;
}
.main-page-background-image{
background-color: #4cf23d;
max-height: 450px;
max-width: 1350px;

}
/* .main-page-background-image{
   width: auto;
   height: 100%;
   
   margin-left: auto; 
   margin-right: auto;
   background-size: contain ;
   background-position: center center;
   visibility: inherit;
   opacity: 1;
   } */

.pic-with-text{
   background-color: white ;
   max-width: 100%;
   float: right;
   margin: 0 0 10px 30px;
   width: 511px; 
   height: 383px;
}

.image-1601{

   height: 95%;
}

.caption-1601{

   margin-top: 2px;
   font-size: 13px;
    line-height: 25px;
}
h2{
   font: normal bold 40px / 50px "Roboto Slab", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    color: black;
    text-align: left;
    max-width: 1300px;
}
.h2-div{
   margin: auto;
}
.detailed-material{
   margin: auto;
   max-width: 1300px;
   align-content: center;
   display: block;      
}   
 

p{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font: normal 16px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
   word-spacing: normal;
   color: #555555;

}


.grand-parent-div-flex{
background-color: white;
padding: 20px;
display: flex;
justify-content: space-around;
min-height: 200px;
max-width: 1300px;
margin: auto;
}

.parent-div-flex{
background-color: white;
width: 270px;
height: 230px;
display: flex;
padding: 10px;
flex-direction: column;
}
.parent-div-flex-with-text{
   background-color:white;
   width: 270px;
   height: 240px;
   display: flex;
   padding: 10px;
   flex-direction: column;
}

.child-div-flex1{
background-color:white;
height: 200px;
margin-bottom: 5px;
}
.child-div-flex1>img{
   width: 270px;
}
.child-div-flex2{
background-color: #3f4d01;
height: 20px;
text-align: center;
color: white;
}

.days-prices{
   text-align: center;
   margin-top: 5px;
   font-size: 12px;
}   
.h2-mid-flex{
max-width: 1300px;
margin: auto;
}
.h2-mid{

   text-align: center;
   font-weight: bold;
    margin-bottom: 30px;
}
.child-div-flex-1:hover{

}

/* -------------------mehmood malik ----------------------- */

.mehmood-malik-div-for-centre{

   background-color: #20201e;
   display: flex;
   justify-content: center;
   flex-direction: column;

}


.mehmood-malik-div{
   height: 160px;  
   background-color: white;
   margin-bottom: 20px;
   display: flex;
   justify-content: center ;
   max-width: 1300px;
   
   
}

.mehmood-malik-pic-div{
   height: 150px;
   width: 10%;
   background-color:white;
   display: flex;
   align-items: center;


}
.mehmood-malik-text{
   margin-top: 0%;
   height: 100px;
   width: 90%;
   background-color:white;
   max-width: 1300px
}
.mehmood-malik-text>h2{

   margin: 0%;
}

.Accredited{
background-color: white;
max-width: 1300px;
height: 400px;

}

.Accredited-list{

   font: normal 16px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #555555;
}
.Accredited>ul>li{
   margin-top: 5px;
}


span{

color: rgb(109, 108, 108);
font-weight: bold;

}