.legend{ 
 
   padding: 0%;
}

body{
   margin: 0%;
}

.hmain{
padding: 9px;
display: flex;
font-size:  15px;
text-align: center;
justify-content: space-between;
color: white;
font-weight: bold ; 
background-color: #4ab540;

}

.top2{
display: flex;
background-color: white

}
.menu-top{
    
display: flex;
align-items: center;
background-color: white;
justify-content: center;
text-decoration: underline;

}
.nav:hover{
   text-decoration: none;
   color: #15830b;   

}
a:hover{
   text-decoration: none;
   color: #15830b;

}

.list{

display: flex;
justify-content: space-between;
list-style: none;
padding: 0px;
}
.nav{

   }     
li{

   border: 1px;
   padding: 0px 50px;
   margin: 0%;
}
#heading
{
margin: 0%;
text-align: center;
color: green;
background-color: greenyellow;
height: 300px;
text-decoration: solid;
font-size: 100px;
padding-top: 10%;
}
#main
{ 
background-color: rgb(248, 248, 26);
height: 200px;
display: flex;
margin-top: 0%;

}

#one
{ 
background-color: aqua;
height: 200px;
width: 35%;

}

 #two
{ 

background-color: rgb(35, 13, 233);
width: 30%;
height: 200px;


 }

#three
{ 
background-color: azure;
width: 35%;
height: 200px;
}

.main-image{
   background-color: black;
   
}
.main-page-background-image{
width: auto;
height: auto;
display: block;
margin-left: auto; 
margin-right: auto;
background-size: contain ;
background-position: center center;
visibility: inherit;
}

.pic-with-text{
   background-color: white ;
   max-width: 100%;
   float: right;
   margin: 0 0 10px 30px;
   width: 511px; 
   height: 383px;
}

.image-1601{

   height: 95%;
}

.caption-1601{

   margin-top: 2px;
   font-size: 13px;
    line-height: 25px;
}
h2{
   font: normal bold 40px / 50px "Roboto Slab", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    color: black;
    text-align: left;
    max-width: 1300px;
}
.h2-div{
   margin: auto;
}
.detailed-material{
   margin: auto;
   max-width: 1300px;
   align-content: center;
   display: block;      
}   
 
.website-link{

font: normal 16px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
word-spacing: normal;
text-transform: lowercase;
text-decoration: underline;
}
p{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font: normal 16px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
   word-spacing: normal;
   color: #555555;

}


.grand-parent-div-flex{
background-color: rgba(214, 177, 131, 0.377);
padding: 20px;
display: flex;
justify-content: space-around;
min-height: 200px;
max-width: 1300px;
margin: auto;
}

.parent-div-flex{
background-color: aquamarine;
width: 230px;
height: 230px;
display: flex;
padding: 10px;
flex-direction: column;
}

.child-div-flex1{
background-color: #4cf23d;
height: 200px;
margin-bottom: 5px;
}

.child-div-flex2{
background-color: #3f4d01;
height: 30px;
text-align: center;
color: white;
}

.h2-mid-flex{
max-width: 1300px;
margin: auto;
}
.h2-mid{

   text-align: center;
   font-weight: bold;
    margin-bottom: 30px;
}
.child-div-flex-1:hover{

}
